
<h3>Listado de heroes</h3>

<div *ngIf="deletedHero; else nothingwasDeleted">
  <h3>Heroe borrado <small class="text-danger"> {{deletedHero}} </small></h3>
</div>


<ng-template #nothingwasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>



<button
*ngIf="HeroNames.length > 0"
class="btn btn-outline-danger" (click)="removeLastHeroe()">
  borrar el ultimo heroe
</button>



<ul class="mt-2 list-group">
  <li *ngFor="let name of HeroNames"
  class="list-group-item"><strong> {{name}}</strong></li>
</ul>
